.Navbar {
    top: 0px;
    display: flex;
    position: fixed;
    z-index: 9999;
    background-color: var(--ADDITIONAL_COLOR_WHITE);
    justify-content: space-between;
    font-size: 20px;
    width: 100%;
    height: 54px;
    line-height:54px;
    border: 1px solid #E8E8E8;
}
.NavbarContent{
    margin: 0px auto;
    background-color: var(--WHITE_BACKGROUND);
    width:100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.NavSlogan {

    color: var(--PRIMARY_COLOR);
    margin-left: 10px;
    font-weight: 700;
    font-size: 30px;
    line-height: 54px;
}

.NavItem {

    background-color: var(--ADDITIONAL_COLOR_WHITE);
    text-decoration:none;
    color:black;
    display: flex;
    margin-right: 10px;
}


.NavItem .Item {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    color: var(--SECONDARY_COLOR_GRAY_70);
    text-decoration: none;
    display: block;
    margin-left: 20px;
    font-size: 16px;
}



.Content {
    margin: 91px auto 0px auto;
    max-width: 1200px;
}@media (max-width: 800px){
    .Content{
        margin: 54px auto 0px auto;
    }
}

.Main {
    display: flex;
    height: 400px;
    padding: 0 15px;
    margin-bottom: 50px;
}@media (max-width:800px){
    .Main {
        height:auto;
        display: block;
    }
}

.CarouselWrapper {
    position: relative;
    width: calc(50% - 60px);

}@media (max-width:800px){
    .CarouselWrapper {
        width: calc(100% + 30px);
        margin: 0px -15px;
    }
}

.AttractionCarousel {
    overflow: hidden;
    display: grid;
    grid-auto-flow: column;  
    grid-auto-columns: 100%;
    scroll-behavior: smooth;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.ImgWrapper {
    width: 100%;
    height: 100%;
}

.ImgWrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.LeftArrow {
    cursor: pointer;
    position: absolute;
    width: 36px;
    height: 36px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../images/btn_leftArrow.png)
}

.RightArrow {
    cursor: pointer;
    position: absolute;
    width: 36px;
    height: 36px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    background: url(../images/btn_rightArrow.png)
}

.NavigationDots{
    transform: translateX(-50%);
    position: absolute;
    display: grid;
    grid-auto-flow: column; 
    bottom: 13px;
    left: 50%;
}

.Dot{
    margin: 0px 6px;
    width: 12px;
    height: 12px;
    background: url(../images//circle_unactive.png);
    background-repeat: no-repeat;
}

.Dot.active{
    margin: 0px 6px;
    width: 12px;
    height: 12px;
    background: url(../images//circle_active.png);
    background-repeat: no-repeat;
}

.AttractionReserve {
    display: grid;
    grid-template-rows: 90px 310px;
    margin-left: 30px;
    flex-grow: 1;
    width: calc(50% - 15px);
}@media (max-width:800px){
    .AttractionReserve {
        display: block;
        width: calc(100% - 15px);
        margin: 20px 10px;
    }
}

.AttractionReserveTop {
    color : var(--SECONDARY_COLOR_GRAY_70)
}

.AttractionReserveTop .Name{
    margin-bottom: 15px;
    max-width: 600px;
    height: 33px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.AttractionReserveTop .CategoryAtMrt{
    max-width: 600px;
    height: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    display: flex;
    align-items: center;
}

.AttractionReserveBottom{
    color: var(--SECONDARY_COLOR_GRAY_70);
    background-color: var(--GRAY_20);
    padding: 15px 20px 0 20px;
    border-radius: 5px;
    width: 100%;
    height: 310px;
}@media (max-width:800px){
    .AttractionReserveBottom {
        margin-top: 20px;
    }
}

.AttractionReserveBottom .title{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}

.AttractionReserveBottom .text{
    font-size: 16px;
    font-weight: 500 ;
    margin-bottom: 24px;
}

.Reserve div:nth-child( 1 ){
    margin-top: -8px;
}

.Reserve div:nth-child( 2 ){
    margin-top: 24px;
}

.Reserve div:nth-child( 3 ){
    margin-top: 15px;
}
.Reserve button {
    margin-top: 20px;

}

.Value {
    width: 81px;
    height: 22px;
    font-size: 16px;
    line-height: 13px;
    font-weight: 700;
}


input[type="radio"] {
    margin: 0 0 0 12px;
    position: relative;
    appearance: none;
    background-color: #fff;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--ADDITIONAL_COLOR_WHITE);
    transform: translateY(5.5px);
}

input[type="radio"]::before {
    position: absolute;
    top:2px;
    left:2px;
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

input[type="radio"]:checked::before {
    background-color: var(--PRIMARY_COLOR);
}

.ReserveDate{
    margin-left: 12px;
    width: 193px;
    height: 35px;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
}@media (max-width:800px){
    .ReserveDate {
        width: 181px;
    }
}

.Cost{
    margin-left: 12px;
}

.ReserveButton {
    border-radius: 5px;
    width: 154px;
    height: 36px;
    color: var(--ADDITIONAL_COLOR_WHITE);
    font-size: 19px;
    line-height: 36px;
    background: var(--PRIMARY_COLOR);
    padding-top: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 41px;
    border: none;
    cursor: pointer;
}

.ReserveDetail{
    padding: 0px 20px;
    height: 100%;
    margin: 50px auto 120px;
    max-width: 1200px;
    font-size: 16px;
    color: var(--SECONDARY_COLOR_GRAY_70);
    margin-bottom: 120px;
}
.ReserveDescription{
    margin-bottom: 20px;
    font-weight: 400;
}

.ReserveDetail .title{
    font-size: 16px;
    font-weight: 700;
}

.ReserveAddress{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.ReserveTransport{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;

}

.Footer {
    display: flex;
    width:100%;
    height: 104px;
    bottom: 0;
    background: var(--GRAY_700);
}

.FooterContent{
    color: var(--ADDITIONAL_COLOR_WHITE);
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1200px;
    line-height: 104px;
}